docs/Prompts/
git-commands.md
git-remote-rename.bat
git-set-account.bat
docs/idea/Names.md
docs

# Added by cargo

/target
/target/release/*.exe
/target/release/*.pdb
/DemoFIles

# Python Build Artifacts
build/
dist/
__pycache__/
*.spec
!Build Stream by build Bridge.exe
!bridge_serve_python.py
!build_python_exe.py
!version_info.txt